<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ScrollView"
            android:label="@string/title_activity_scroll_view" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".WidgetsActivity"
            android:label="@string/title_activity_scroll_view" />
        <activity
            android:name=".WebviewActivity"
            android:label="@string/title_activity_scroll_view" />
        <activity
            android:name=".FrameLayoutActivity"
            android:label="@string/title_activity_frame_layout" />
        <activity
            android:name=".SimpleListViewActivity"
            android:label="@string/title_activity_simple_list_view" />
        <activity
            android:name=".SlowlyActivity"
            android:label="@string/title_activity_slowly" />
        <activity
            android:name=".GridViewActivity"
            android:label="@string/title_activity_grid_view" />
        <activity
            android:name=".EventsActivity"
            android:label="@string/title_activity_events" />
        <activity
            android:name=".FirstActivity"
            android:label="@string/title_activity_first" />
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second" />
        <activity
            android:name=".FragmentDemoActivity"
            android:label="@string/title_activity_fragment_demo" />
        <activity
            android:name=".DatabaseActivity"
            android:label="@string/title_activity_database" />
        <activity
            android:name=".ContactsActivity"
            android:label="@string/title_activity_contacts" />
        <activity
            android:name=".SharedPreferenceActivity"
            android:label="@string/title_activity_shared_preference" />
        <activity
            android:name=".SdcardActivity"
            android:label="SdcardActivity" />
        <activity
            android:name=".AsyncTaskActivity"
            android:label="@string/title_activity_async_task" />
        <activity
            android:name=".HandlerActivity"
            android:label="@string/title_activity_handler" />
        <activity
            android:name=".FilterableListActivity"
            android:label="@string/title_activity_filterable_list" />
        <activity
            android:name=".ViewPagerActivity"
            android:label="@string/title_activity_view_pager" />
        <activity
            android:name=".ServiceActivity"
            android:label="@string/title_activity_service" />
        <activity
            android:name=".MenuActivity"
            android:label="Menu Activity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <!-- define service -->
        <service android:name=".services.MyFirstService" />

        <!-- define receiver -->
        <receiver android:name=".services.MyActionReceiver" >
            <intent-filter>
                <action android:name="com.example.myaction" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MaterialTabsActivity"
            android:label="@string/title_activity_material_tabs" />
        <activity
            android:name=".MaterialDesignActivity"
            android:label="@string/title_activity_material_design" />
        <activity
            android:name=".StyleActivity"
            android:label="@string/title_activity_style"
            android:theme="@style/StyledTheme" />
        <activity
            android:name=".ConfigurationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_configuration" />
        <activity
            android:name=".CustomizedViewActivity"
            android:label="@string/title_activity_customized_view" />
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification" />
        <activity
            android:name=".NotifyResultActivity"
            android:label="@string/title_activity_notify_result" />
        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_location" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".VideoActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_video" >
        </activity>
        <activity
            android:name=".TakePhotoActivity"
            android:label="@string/title_activity_take_photo" >

        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".MyCameraActivity"
            android:label="@string/title_activity_my_camera" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
